<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="400.0px" height="300.0px"
     version="1.0">
    <ellipse stroke-dashoffset="3" display="inline" fill="none" cx="200" cy="150" rx="160" ry="120" stroke="rgb(0,0,0)"
             stroke-width="7"/>
    <defs>
        <path id="d01ba558-e00b-4889-8c40-aa50bdc67a64" d="M110,212 A128,88 0 1,1,288,212"/>
    </defs>
    <text style="fill:#ff0000;" font-size="25" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#d01ba558-e00b-4889-8c40-aa50bdc67a64" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京数字认证股份有限公司
        </textPath>
    </text>
    <defs>
        <path id="c361ade4-a371-4cc9-afe0-0f223e82397c" d="M102,160 L300,160"/>
    </defs>
    <text style="fill:#ff0000;" font-size="22" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#c361ade4-a371-4cc9-afe0-0f223e82397c" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">123456789123456789
        </textPath>
    </text>
    <defs>
        <path id="678bf14f-cb85-4c61-8008-2e14da97d769" d="M102,208 L300,208"/>
    </defs>
    <text style="fill:#ff0000;" font-size="30" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#678bf14f-cb85-4c61-8008-2e14da97d769" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">发票专用章
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="226.0px" height="170.0px" viewBox="0 0 118 85"
     version="1.0">
    <ellipse stroke-dashoffset="3" display="inline" fill="none" cx="56.5" cy="42.5" rx="54" ry="40" stroke="#ff0000"
             stroke-width="2"/>
    <defs>
        <path id="d01ba558-e00b-4889-8c40-aa50bdc67a63" d="M16,56 A44,31 0 1,1,97,56"/>
    </defs>
    <text style="fill:#ff0000;" font-size="9" font-family="长仿宋体">
        <textPath xlink:href="#d01ba558-e00b-4889-8c40-aa50bdc67a63" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">花知岚（深圳）餐饮管理有限公司
        </textPath>
    </text>
    <defs>
        <path id="c361ade4-a371-4cc9-afe0-0f223e82397d" d="M0,48 L114,48"/>
    </defs>
    <text style="fill:#ff0000;" font-size="6" font-family="长仿宋体">
        <textPath xlink:href="#c361ade4-a371-4cc9-afe0-0f223e82397d" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">91440300MA5DMQWE7511
        </textPath>
    </text>
    <defs>
        <path id="678bf14f-cb85-4c61-8008-2e14da97d76q" d="M0,65 L114,65"/>
    </defs>
    <text style="fill:#ff0000;" font-size="7" font-family="长仿宋体" font-weight="bold">
        <textPath xlink:href="#678bf14f-cb85-4c61-8008-2e14da97d76q" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">发票专用章
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="119.0px" height="119.0px"
     version="1.0">
    <circle stroke-dashoffset="3" display="inline" fill="none" cx="59.5" cy="59.5" r="56.5" stroke="#ff0000"
            stroke-width="3"/>
    <defs>
        <path id="5863dc12-20df-49f3-b99c-b656e640223c" d="M29,88 A41,41 0 1,1,90,88"/>
    </defs>
    <text style="fill:#ff0000;" font-size="12" font-family="长仿宋体">
        <textPath xlink:href="#5863dc12-20df-49f3-b99c-b656e640223c" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京数字认证股份有限公司
        </textPath>
    </text>
    <defs>
        <path id="699ce320-443e-47c9-9a2d-077030d812b7" d="M21,92 L100,92"/>
    </defs>
    <text style="fill:#ff0000;" font-size="12" font-family="长仿宋体">
        <textPath xlink:href="#699ce320-443e-47c9-9a2d-077030d812b7" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">发票专用章
        </textPath>
    </text>
    <svg x="46" y="46">
        <polygon points="40,0 16,72 76,24 4,24 64,72 40,0" style="fill:red;" transform="scale(0.333,0.333)"/>
    </svg>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="170.0px" height="170.0px"
     version="1.0">
    <circle stroke-dashoffset="3" display="inline" fill="none" cx="85" cy="85" r="82" stroke="#ff0000"
            stroke-width="3"/>
    <defs>
        <path id="5863dc12-20df-49f3-b99c-b656e640221c" d="M48,134 A60,60 0 1,1,120,134"/>
    </defs>
    <text style="fill:#ff0000;" font-size="20" font-family="长仿宋体">
        <textPath xlink:href="#5863dc12-20df-49f3-b99c-b656e640221c" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京数字认证股份有限公司
        </textPath>
    </text>
    <defs>
        <path id="699ce320-443e-47c9-9a2d-077030d81227" d="M35,130 L133,130"/>
    </defs>
    <text style="fill:#ff0000;" font-size="18" font-family="长仿宋体">
        <textPath xlink:href="#699ce320-443e-47c9-9a2d-077030d81227" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">发票专用章
        </textPath>
    </text>
    <svg x="70" y="70">
        <polygon points="40,0 16,72 76,24 4,24 64,72 40,0" style="fill:red;" transform="scale(0.333,0.333)"/>
    </svg>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="300.0px" height="300.0px"
     version="1.0">
    <circle stroke-dashoffset="3" display="inline" fill="none" cx="150" cy="150" r="145" stroke="#ff0000"
            stroke-width="5"/>
    <defs>
        <path id="0c2ec954-5604-4c3d-80ee-a8e423196497" d="M83,212 A111,97 0 1,1,208,216"/>
    </defs>
    <text style="fill:#ff0000;" font-size="25" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#0c2ec954-5604-4c3d-80ee-a8e423196497" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京数字认证股份有限公司
        </textPath>
    </text>
    <defs>
        <path id="1418c874-6d40-4a11-9e50-9d1c404c0ada" d="M20,170 L277,170"/>
    </defs>
    <!--<text style="fill:#ff0000;" font-size="22" font-family="公章刻章字体" font-weight="bold">-->
    <!--<textPath xlink:href="#1418c874-6d40-4a11-9e50-9d1c404c0ada" text-anchor="middle" startOffset="50%"-->
    <!--lengthAdjust="spacing">12346789-->
    <!--</textPath>-->
    <!--</text>-->
    <defs>
        <path id="d5709ec3-5af0-432d-9efd-8438f9e34c1a" d="M15,245 L285,245"/>
    </defs>
    <text style="fill:#ff0000;" font-size="30" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#d5709ec3-5af0-432d-9efd-8438f9e34c1a" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">发票专用章
        </textPath>
    </text>
    <svg x="115" y="115">
        <polygon points="100,00 40,180 190,60 10,60 160,180 100,0" style="fill:red;" transform="scale(0.333,0.333)"/>
    </svg>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="100.0px" height="50.0px"
     version="1.0">
    <rect stroke-dashoffset="3" display="inline" fill="none" x="5.0" y="5.0" width="90.0" height="40.0" stroke="#ff0000"
          stroke-width="5"/>
    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734217" d="M10.0,35.0 90.0,35.0"/>
    </defs>
    <text style="fill:#ff0000;" font-size="25" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734217" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">徐旭铭
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="196.0px" height="98.0px"
     version="1.0">
    <rect stroke-dashoffset="3" display="inline" fill="none" x="4" y="4" width="186.0" height="90.0"
          stroke="#ff0000"
          stroke-width="4"/>
    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a22734217" d="M1,21 194,21"/>
    </defs>
    <text style="fill:#ff0000;-webkit-transform: scale(0.99,1.5);" font-size="16" font-family="公章刻章字体"
          font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a22734217" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京市规划和国土资源管理委员会
        </textPath>
    </text>

    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734218" d="M0,39 172,39"/>
    </defs>
    <text style="fill:#ff0000;-webkit-transform: scale(1.12,1.5);" font-size="16" font-family="公章刻章字体"
          font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734218" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing"> 规划国土审批文件附图专用章
        </textPath>
    </text>

    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734219" d="M5.0,57 189,57"/>
    </defs>
    <text style="fill:#ff0000;-webkit-transform: scale(1,1.5);" font-size="16" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734219" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">（ XX ）规土 XX 字 XX 号
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     width="145.0px" height="32.0px">
    <rect stroke-dashoffset="3" display="inline" fill="none" x="2.0" y="2.0" width="141.0" height="28.0"
          stroke="#ff0000"
          stroke-width="2"/>

    <line display="inline" x1="77" y1="2" x2="77" y2="29" style="stroke:#f00" stroke-width="1"/>

    <line display="inline" x1="77" y1="16" x2="142" y2="16" style="stroke:#f00" stroke-width="1"/>

    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734220" d="M0,13 78,13"/>
    </defs>
    <text style="fill:#ff0000;" font-size="7" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734220" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">北京市规划和国土资源管理委
        </textPath>
    </text>
    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734222" d="M0,25 80,25"/>
    </defs>
    <text style="fill:#ff0000;" font-size="7" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734222" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">员会(东城分局) 核验专用章
        </textPath>
    </text>

    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734333" d="M80,13 137,13"/>
    </defs>
    <text style="fill:#ff0000;" font-size="7" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734333" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">( &nbsp;)规土(东)竣字 &nbsp; 号
        </textPath>
    </text>
    <defs>
        <path id="fc5e54c1-09c9-4837-95e5-365a33734332" d="M80,26 137,26 "/>
    </defs>
    <text style="fill:#ff0000;" font-size="7" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#fc5e54c1-09c9-4837-95e5-365a33734332" text-anchor="middle" startOffset="50%"
                  lengthAdjust="spacing">  &nbsp; &nbsp; &nbsp; 年 &nbsp; 月 &nbsp; 日
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="945px" height="709px"
     version="1.0">
    <ellipse stroke-dashoffset="3" display="inline" fill="none" cx="473" cy="354" rx="460" ry="343"
             stroke="rgb(255,0,0)" stroke-width="24"/>
    <defs>
        <path id="c748dd02-d3b6-4a52-be99-c8a2ec36603f" d="M170,470 A355,225 0 1,1,775,470"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="85" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#c748dd02-d3b6-4a52-be99-c8a2ec36603f" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            保定市鑫诺电科软件开发有限公司
        </textPath>
    </text>
    <defs>
        <path id="38ad915e-50a0-41d2-b751-5ec9bf9a511d" d="M155,375 L810,375"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="70" font-family="arial" font-weight="bold">
        <textPath xlink:href="#38ad915e-50a0-41d2-b751-5ec9bf9a511d" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            911306053200284670
        </textPath>
    </text>
    <defs>
        <path id="364a580f-2858-4f5a-8067-0baa93bc5157" d="M165,550 L800,550"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="110" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#364a580f-2858-4f5a-8067-0baa93bc5157" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            发票专用章
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="945px" height="945px"
     version="1.0">
    <circle stroke-dashoffset="3" display="inline" fill="none" cx="473" cy="473" r="460"
             stroke="rgb(255,0,0)" stroke-width="24"/>
    <defs>
        <path id="c748dd02-d3b6-4a52-be99-c8a2ec36603c" d="M140,510 A250,275 0 1,1,800,510"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="100" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#c748dd02-d3b6-4a52-be99-c8a2ec36603c" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            保定市鑫诺电科软件开发有限公司
        </textPath>
    </text>
    <defs>
        <path id="38ad915e-50a0-41d2-b751-5ec9bf9a511f" d="M155,490 L810,490"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="70" font-family="arial" font-weight="bold">
        <textPath xlink:href="#38ad915e-50a0-41d2-b751-5ec9bf9a511f" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            911306053200284670
        </textPath>
    </text>
    <defs>
        <path id="364a580f-2858-4f5a-8067-0baa93bc515e" d="M165,800 L800,800"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="110" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#364a580f-2858-4f5a-8067-0baa93bc515e" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            发票专用章
        </textPath>
    </text>
</svg>


<svg contentScriptType="text/ecmascript" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
     baseProfile="full" zoomAndPan="magnify" contentStyleType="text/css" preserveAspectRatio="xMidYMid meet"
     width="945px" height="945px"
     version="1.0">
    <circle stroke-dashoffset="3" display="inline" fill="none" cx="473" cy="473" r="450"
            stroke="rgb(255,0,0)" stroke-width="24"/>
    <defs>
        <path id="c748dd02-d3b6-4a52-be99-c8a2ec36603a" d="M445,800 A320,320 0 1,1,500,800"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="110" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#c748dd02-d3b6-4a52-be99-c8a2ec36603a" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            保定市鑫诺电科软件开发有限公司
        </textPath>
    </text>
    <defs>
        <path id="364a580f-2858-4f5a-8067-0baa93bc515d" d="M165,800 L800,800"/>
    </defs>
    <text style="fill:rgb(255,0,0);" font-size="110" font-family="公章刻章字体" font-weight="bold">
        <textPath xlink:href="#364a580f-2858-4f5a-8067-0baa93bc515d" font-stretch="condensed" text-anchor="middle"
                  startOffset="50%" lengthAdjust="spacing">
            发票专用章
        </textPath>
    </text>
    <svg x="335" y="345">
        <polygon points="400,0 160,720 760,240 40,240 640,720 400,0" style="fill:red;" transform="scale(0.333,0.333)"/>
    </svg>
</svg>

</body>
</html>